<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" name="int422_123b24" />
    </authentication>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add type="System.Web.Security.SqlMembershipProvider" 
             name="SqlProvider" 
             connectionStringName="int422_123b24Entities" 
             applicationName="/" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="true" 
             requiresUniqueEmail="true" 
             passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add type="System.Web.Security.SqlRoleProvider" 
             name="AspNetSqlRoleProvider" 
             applicationName="/" 
             connectionStringName="int422_123b24Entities" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="int422_123b24Entities" 
         connectionString="Data Source=mssql.warp.senecac.on.ca;Initial Catalog=int422_123b24;Persist Security Info=True;User ID=int422_123b24;Password=gpEZ2287" 
         providerName="System.Data.SqlClient" />
    <add name="int422_123b24Entities2" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql.warp.senecac.on.ca;Initial Catalog=int422_123b24;Persist Security Info=True;User ID=int422_123b24;Password=gpEZ2287;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <location path="Project/User">
    <system.web>
      <authorization>
        <allow roles="user" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Project/Admin">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>